extends layout.pug

block head
    .media.profile
        img.align-self-center.mr-3(src=avatarPath)
        .media-body
            h5.mt-0 hello #{username}
            a.btn.btn-outline-dark(href="/logout") Logout

block main
    