doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/static/src/bootstrap.min.css")
        link(rel="stylesheet" href= "/static/css/index.css")
        //- 这里不要用相对路径
        block links
    body
        block head
        block main
            h1= "Hello World"
        block foot
    script(src="/static/src/axios.min.js")
    script(src="/static/src/jquery-3.3.1.slim.min.js")
    script(src="/static/src/popper.min.js")
    script(src="/static/src/bootstrap.min.js")
    block scripts